@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'null.css';

.back {

    background-color: black;
}
/*=========== 1  block begin ===========*/
.container {
    max-width: 1186px;
    margin: 0 auto;
}

.hero_content {
padding-top: 60px;
}

.logo {
    display:flex;
    align-items: flex-end;
    width: 250px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.hero_image {
    margin: 0 auto;
    height: 567px;
    max-width: 100%;
    background-image: url(images/1.png);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: white;
    line-height: 100%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    line-height: 120%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin: 35px 0 28px 0;
    line-height: 100%;
}

.button {
    display: inline-block;
    height: 44px;
    width: 150px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.button:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}


@media (max-width:1260px) {
        .container {
            max-width: 1000px;
            margin: 0 auto; 
        }

        .hero_image {
        background-image: url(images/1_ad1.png)

        }

        .clear-content {
            display: inline-block;
            margin-bottom:220px;
        }
}

@media (max-width:1100px) {
    .container {
        max-width: 800px;
        margin: 0 auto; 
    }

    .hero_image {
    background-image: url(images/1_ad1.png)

    }

    .video_head {
        display: flex;
       flex-direction: column;
       align-items: center;
    }

    .clear {
        display: flex;
       flex-direction: column;
       align-items: center;
    }
.polaris_alisa {
    margin-top: 100px;
}

    .staff {
        margin-top: 50px;
    }

    .benefits {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
       
    }
}

@media (max-width:860px) {
    .container {
        max-width: 600px;
        margin: 0 auto; 
    }

    .goods {
        align-items: center;
    }
    
    h1 {
        font-size: 44px;
        text-align: center;
        
    }

    .text {
        margin-left: 30px;
        text-align: left;
        margi
    }
    

.hero_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    h3 {
        text-align: center;
    }

    .staff {
        margin-top: 50px auto;
        
    }

    .benefits {
        flex-direction: column;
        align-items: center;
        
       
    }

    .fine {
        flex-direction: column;
        align-items: center;
        
       
    }

    .fine_l {
        margin-top: 50px;
    }
  
}

@media (max-width:500px) {
    .container {
        max-width: 375px;
        margin: 0 auto; 
    }

    .goods {
        flex-direction: column;
        align-items: center;
    }
    .benefits {

        flex-direction: column;
    }
    .text {
        margin-top: 100px;

        text-align: center;
    }

  
}


/*=========== 1  block end ===========*/

/*=========== 2  block begin ===========*/
.goods {
    margin-top: 66px;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 157px;
    flex-wrap: wrap;
    
}

.product {
    width: 225px;
    height: 386px;
    background-color: #030303;
    position: relative;
    
}

.pic {
    width: 225px;
    height: 230px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.product_content {
    margin-left: 25px;
    
    

}

.product_description {
    max-width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    line-height: 110%;
    top: 260px;
    position:absolute;
    

}

.product_button {
    display: inline-block;
    height: 30px;
    width: 122px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    background-color: black;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    position: absolute;
    bottom:25px;

}

.product_button:hover {
    color: black;
    border: none;
    background-color: white;

}

/*=========== 2  block end ===========*/
/*=========== 3  block begin ===========*/

.video_head {
    display:flex;
    justify-content: space-between;

}

.staff {
    display: flex;
    justify-content: space-between;
    width: 346px;
    align-items: flex-end;
}

iframe {
    margin: 50px 0 90px 0;
    height: 660px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

/*=========== 3  block end ===========*/

/*=========== 4  block begin ===========*/

.benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.disc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    max-width: 190px;
    color:  white;
    margin-top: 16px;
    margin-bottom: 100px;
}

/*=========== 4  block end ===========*/

/*=========== 5  block begin ===========*/

.clear {
    display: flex;
    justify-content: space-between;

}

.clear-content {
    display: flex;
    justify-content: space-between;
    margin-bottom:220px;
}

@media (max-width:1260px) {
 

    .clear-content {
        display: inline-block;
        margin-bottom:220px;
    }

    .text {
        margin-top: 100px;

        text-align: center;
    }
    .clear_pic {
        width: 592px;
        height: 972px;
        margin-top: 75px;
        background-image: url(images/Mask_group.png);
        border: 1px solid rgb(32, 32, 32);
    }
}




.polaris_alisa {
    width: 305px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.clear_pic {
    width: 592px;
    height: 972px;
    margin-top: 75px;
    background-image: url(images/Mask_group.png);
    border: 1px solid rgb(32, 32, 32);
}

.text {
    margin-left: 240px;
}

@media {


.text {
    margin-left: 0px;
    text-align: left;
}

}
.text_disc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    max-width: 190px;
    color:  white;
    margin-bottom: 72px;
    max-width: 345px;
}

/*=========== 5  block end ===========*/

/*=========== 6  block begin ===========*/

.fine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width:860px) {
.fine {
    flex-direction: column;
    align-items: center;
}
    
   
}
.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom:42px;
    flex-wrap: wrap;
}

.rev {
    height: 539px;
    width: 581px;
    padding: 50px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 4px;
    position: relative;


}

.user {
    display: flex;
    
}

.user_info {
margin-left: 25px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color:  #818181;
    letter-spacing: 2px;
}

.stars {
    display: flex;
    margin-top: 10px;
}

.exp {
    margin-top: 50px;
    display: flex;
}



.light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: white;
    margin-top: 10px;
}



.tovar {
    height: 110px;
    width: 480px;
    background-color: #0c0c0c;
    position: absolute;
    bottom: 50px;
    border-radius: 10px;
    padding: 13px;
    display: flex;
}



.tovar_disc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: white;
    max-width: 195px;
    margin-left: 40px;
    padding: 20px 0 20px;
    

}

@media (max-width:650px) {

    .tovar {
        height: 110px;
        width: 375px;
        background-color: #0c0c0c;
        position: absolute;
        bottom: 50px;
        border-radius: 10px;
        padding: 13px;
        display: flex;
    }

    .reviews {
align-items: center;
    }
}

/*=========== 6  block end ===========*/

/*=========== 7  block begin ===========*/

.explame {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: white;
    margin-bottom: 8px;
}

.foot {
    display: flex;
    justify-content: center;
    padding: 75px 0 75px;
}



/*=========== 7  block end ===========*/